@import "tailwindcss";
@import "./theme.css";


::-webkit-scrollbar{
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: #000;
}